
.menu{
  display: flex;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  height: 30px;
}


.logout{
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.title{
  font-weight: 600;
}