.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

.page-title:hover{
  background-color: transparent !important;
}

.horizontal li {
  float: left;
  font-weight: 600;
  height: 40px;
  margin-left: 10px;
}

.horizontal li:last-child{
  float: right;
  
}

.horizontal li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.horizontal a {
  display: block;
  padding: 8px;
}

.horizontal span{
  vertical-align: middle;
  font-size: 20px;
}