/*
    Global styles. This styles will be implemente for all views
*/

:root {
    --primary: #8A79F7;
    --secondary: #F79754;
    --warning:rgb(224, 208, 61);
    --danger:rgb(199, 53, 53);
    --success:rgb(35, 195, 48);
}

    
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #ECECEC;
}


.text-warning{
    color: var(--warning) !important;
}

.text-danger{
    color: var(--danger) !important;
}

.text-success{
    color: var(--success) !important;
}

.pointer{
    cursor: pointer;
}

.decoration-none{
    text-decoration: none;
    color: black;
}

.alert{
    display: block;
    width: calc(100% - 20px);
    border-radius: 5px;
    padding: 10px;
}

.alert-success{
    background-color: var(--success);
    color: white;
}

.alert-danger{
    background-color: var(--danger);
    color: white;
}

.d-none{
    display: none;
}

.box-shadow{
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
}