.back-button{
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.container{
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100vh - 58px);
  background-color: white;
}

.columns{
  display: grid;
  grid-auto-columns: 280px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-x: scroll;
  height: calc(100% - 75px);
  padding: 8px;
  grid-auto-rows: 100%;
}

.column{
  display: inline-block;
  background-color: #f5f5f5;
  margin-left: 5px;
  border-radius: 5px;
  padding: 8px;

}

.column-title{
  cursor: pointer;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  height: 30px;
}

.column-body{
  height: calc(100% - 65px - 70px);
  overflow-y: scroll;
  list-style: none;
  padding: 5px;
}

.stikynote{
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

  cursor: pointer;
}

.column-footer{
  height: 30px;
}

.stikynote-content{
  border: none;
  background-color: transparent;
  height: auto;
  resize: vertical;
  width: 100%;
  overflow:hidden
}

.submit{
  
  background-color: var(--success);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.delete{
  
  background-color: var(--danger);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.submit:hover{
  opacity: 0.8;
}

.submit:disabled{
  opacity: 0.5;
}

.submit:disabled:hover{
  opacity: 0.6;
}